:root {
  --clr-neutral-100: #f7f2f3;
  --clr-neutral-900: #373a53;
  --clr-primary-000: #169ce6;
  --clr-accent-100: #85c2d5;
  --clr-accent-900: #8f9191;

  --ff-serif: "Montserrat", sans-serif;

  --fw-reg: 400;
  --fw-mid: 600;
  --fw-bold: 700;
}

body {
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-serif);
  font-weight: var(--fw-400);
}

h1 {
  font-weight: var(--fw-bold);
}

h2 {
  font-weight: var(--fw-mid);
}

.directions {
  font-weight: var(--fw-mid);
}

.directions li {
  font-weight: var(--fw-reg);
}

.hero-img {
  width: 500;
  height: auto;
}

.btns {
  text-decoration: none;
  color: var(--clr-accent-100);
}

.btns:hover {
  color: var(--clr-neutral-100);
}
